@import "variables";

@import "normalize";
@import "accessibility";
@import "fonts";
@import "global";
@import "typography";
@import "header";
@import "hamburger";
@import "language-selector";
@import "footer";
@import "buttons";
@import "iframe";
@import "images";
@import "horizontal-rule";
@import "content";
@import "accordion";
@import "blog";
@import "pagination";
@import "breadcrumb";
@import "tables";
@import "shortcodes/card";
@import "shortcodes/columns";
@import "shortcodes/toc";
@import "shortcodes/intro";
@import "shortcodes/youtube-enhanced";

.column.bg-green {
  background: #eaf7e6;
  padding: 1.5rem;
  border-radius: 12px;
}

.column.bg-beige {
  background: #f4efe7;
  padding: 1.5rem;
  border-radius: 12px;
}