{{ define "main" }}

<h2>Stras'bêrgerie, c'est quoi ?</h2>
<p>Contenu en cours de rédaction, revenez bientôt ! En attendant, vous avez déjà a possibilité de vous abonner sur Facebook et Instagram.</p>
<!--  <h2>Stras'bêrgerie, c'est quoi ?</h2>
<p>
  Stras'bêrgerie, c'est une association qui a pour objectif de rapprocher la nature et l’agriculture de la ville et de ses habitant·e·s, petit·e·s et grand·e·s, pour préserver la biodiversité des milieux ouverts, pour sensibiliser aux enjeux de développement durable et pour créer plus de lien social.
Le projet a donc une vocation à la fois environnementale, éducative, social et participative en proposant également une implication bénévole dans le quotidien de la bergerie. 
Les activités prévues et qui vont commencer à être déployées en 2026 sont :
<ul>
  <li>L’éco-pâturage sur des espaces verts publics et privés</li>
  <li>Des animations pédagogiques tel que du pâturage itinérant et des ateliers thématiques sur des sujets en lien avec le mouton (biodiversité, bien-être animal, agriculture, alimentation etc.)</li>
  <li>De la production agricole, notamment la valorisation de la laine et du crottin</li>
</ul>
Toutes ces activités seront menées par les futurs bergers pédagogiques de Stras’bêrgerie et accompagnées par des bénévoles.
</p>

  <img style="width:50%;" src="images/Photo_Pre.jpg" alt="La photo du pré dans static/images">-->
{{ end }}